In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('House_Rent_Dataset.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [5]:
df2 = pd.read_csv('house_rent.csv')

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4745 non-null   float64
 2   Rent               4740 non-null   float64
 3   Size               4745 non-null   float64
 4   Floor              4743 non-null   object
 5   Area Type          4737 non-null   object
 6   Area Locality      4736 non-null   object
 7   City               4740 non-null   object
 8   Furnishing Status  4736 non-null   object
 9   Tenant Preferred   4737 non-null   object
 10  Bathroom           4743 non-null   float64
 11  Point of Contact   4738 non-null   object
dtypes: float64(4), object(8)
memory usage: 445.1+ KB

In [7]:
cols = ['Point of Contact', 'Tenant Preferred']
df2 = df2.drop(cols, axis =1)

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4745 non-null   float64
 2   Rent               4740 non-null   float64
 3   Size               4745 non-null   float64
 4   Floor              4743 non-null   object
 5   Area Type          4737 non-null   object
 6   Area Locality      4736 non-null   object
 7   City               4740 non-null   object
 8   Furnishing Status  4736 non-null   object
 9   Bathroom           4743 non-null   float64
dtypes: float64(4), object(6)
memory usage: 370.9+ KB

In [9]:
df2 = df2.dropna()

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4710 entries, 0 to 4745
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4710 non-null   object
 1   BHK                4710 non-null   float64
 2   Rent               4710 non-null   float64
 3   Size               4710 non-null   float64
 4   Floor              4710 non-null   object
 5   Area Type          4710 non-null   object
 6   Area Locality      4710 non-null   object
 7   City               4710 non-null   object
 8   Furnishing Status  4710 non-null   object
 9   Bathroom           4710 non-null   float64
dtypes: float64(4), object(6)
memory usage: 404.8+ KB

In [11]:
dummies = []
cols = ['Area Type', 'Furnishing Status']
for col in cols:
    dummies.append(pd.get_dummies(df[col]))

In [12]:
rent_dummies = pd.concat(dummies, axis=1)

In [13]:
df2 = pd.concat((df2,rent_dummies), axis=1)

In [14]:
df2 = df2.drop(['Area Type', 'Furnishing Status'], axis=1)

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4746 entries, 0 to 336
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Posted On       4710 non-null   object
 1   BHK             4710 non-null   float64
 2   Rent            4710 non-null   float64
 3   Size            4710 non-null   float64
 4   Floor           4710 non-null   object
 5   Area Locality   4710 non-null   object
 6   City            4710 non-null   object
 7   Bathroom        4710 non-null   float64
 8   Built Area      4746 non-null   uint8
 9   Carpet Area     4746 non-null   uint8
 10  Super Area      4746 non-null   uint8
 11  Furnished       4746 non-null   uint8
 12  Semi-Furnished  4746 non-null   uint8
 13  Unfurnished     4746 non-null   uint8
dtypes: float64(4), object(4), uint8(6)
memory usage: 361.5+ KB